<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1>Create Painting</h1>
    <a th:href="@{/paintings}">Back To List</a>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
        <script th:inline="javascript">
            setTimeout(function () {
                window.location.href = /*[[@{/categories}]]*/ '#';
            }, 3000);
        </script>
    </th:block>
</center>
<div align="center">
    <h3>Create new painting</h3>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
    </th:block>
    <form th:object="${paintings}" th:action="@{/paintings/save}" th:method="post" enctype="multipart/form-data">
        <table border="1" cellpadding="5">
            <tr>
                <td><label for="name">Tên tranh:</label></td>
                <td><input type="text" id="name" name="name" ></td>
            </tr>
            <tr>
                <td><label for="height">Chiều cao (cm):</label></td>
                <td><input type="number" id="height" name="height" ></td>
            </tr>
            <tr>
                <td><label for="width">Chiều rộng (cm):</label></td>
                <td><input type="number" id="width" name="width" ></td>
            </tr>
            <tr>
                <td><label for="material">Chất liệu:</label></td>
                <td><input type="text" id="material" name="material" ></td>
            </tr>
            <tr>
                <td><label for="description">Mô tả:</label></td>
                <td><textarea id="description" name="description"></textarea></td>
            </tr>
            <tr>
                <td>Giá (VNĐ):</td>
                <td>
                    <input type="number" id="price" name="price" >
                </td>
            </tr>
            <tr>
                <td>Ảnh:</td>
                <td>
                    <input type="file" id="image" name="image" accept="image/*" >
                </td>
            </tr>
            <tr>
                <td>
                    <label for="category">Danh mục:</label>
                </td>
                <td>
                    <select id="category" name="category" >
                        <option value="">-- Select category --</option>
                        <option th:each="category : ${categories}" th:value="${category.id}"
                                th:text="${category.category}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <button type="submit">SAVE</button>
                    <button><a th:href="@{/paintings}">CANCEL</a></button>
                </td>

            </tr>
        </table>
    </form>
</div>
</body>
</html>