<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <form th:object="${paintings}" th:action="@{/paintings/edit}" th:method="post">
        <table>
            <input th:type="hidden" name="id" th:field="*{id}">
            <tr>
                <td><label>Tên tranh:</label></td>
                <td><input type="text" th:field="*{name}"></td>
            </tr>
            <tr>
                <td><label>Chiều cao (cm):</label></td>
                <td><input type="number" th:field="*{height}"></td>
            </tr>
            <tr>
                <td><label>Chiều rộng (cm):</label></td>
                <td><input type="number" th:field="*{width}"></td>
            </tr>
            <tr>
                <td><label>Chất liệu:</label></td>
                <td><input type="text" th:field="*{material}"></td>
            </tr>
            <tr>
                <td><label>Mô tả:</label></td>
                <td><textarea id="description" th:field="*{description}"></textarea></td>
            </tr>
            <tr>
                <td>Giá (VNĐ):</td>
                <td>
                    <input type="number" th:field="*{price}">
                </td>
            </tr>
            <tr>
                <td>Ảnh:</td>
                <td><img width="300" height="170" th:src="@{'/image/' + ${paintings.image}}" alt=""><br><input
                        type="file" th:field="*{image}" required></td>
            </tr>
            <tr>
                <td>Danh mục:</td>
                <td>
                    <select th:field="*{category}">
                        <option th:each="c: ${categories}" th:value="${c.id}" th:text="${c.category}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">UPDATE</button>
                    <button><a th:href="@{/paintings}">CANCEL</a></button>
                </td>

            </tr>
        </table>
    </form>
</div>
</body>
</html>