<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout::header">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<center>
    <h1>Create Category</h1>
    <a th:href="@{/category}">Back To List</a>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
        <script th:inline="javascript">
            setTimeout(function () {
                window.location.href = /*[[@{/category}]]*/ '#';
            }, 3000);
        </script>
    </th:block>
</center>
<div align="center">
    <form th:action="@{/category/create}" th:object="${cate}" method="post">
        <table>
            <tr>
                <td>Category</td>
                <td><input type="text" th:field="*{category}"></td>
            </tr>
        </table>
        <input type="submit" value="Save">
    </form>
</div>
</body>
</html>